body {
    background-color: black;
    color: #fff;
    font-family: 'Quantico', sans-serif;
}

#terminal-output {
    padding-left: 2px;
}
  
#terminal-input {
    display: flex;
    align-items: flex-end;
}
  
input[type="text"] {
    padding-top: 0px;
    font-size: 16px;
    background-color: transparent;
    border: none;
    color: #fff;
    font-family: 'Quantico', sans-serif;
    width: 100%;
}

#terminal-command {
    outline: none;
}
#location {
    position: fixed;
    padding-right: 16px;
    top: 16px;
    right: 0;
    background-color: transparent;
    border: none;
    color: #fff;
    font-family: 'Quantico', sans-serif;
}